{% extends 'paginapersonal/base.html' %}

{% block title%}Acerca de mi{% endblock%}
{% block background %}{% load static %}{% static 'img/acercademi.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de mí</h1>
<span class="subheading">Biografía</span>
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'img/caripela.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Pablo Fernández Guembe</h2>
        <p>Nacido en la Ciudad de Buenos Aires, estudió en la universidad de Lomas de Zamora egresando con el título de Licenciado en Robótica.</p>
        <p>Anteriormente estudió en el instituto ORT egresando con el título de técnico superior en electrónica.</p>
        <p>Apasionado por la tecnología en general y amante de linux en particular, recientemente esta empezando a construir su propia distribución de linux.</p>
        <p>Este último año ha realizado el curso de python intensivo en la utn de avellaneda.</p>
    </div>
</div>
{% endblock %}
