{% extends 'paginapersonal/base.html' %}

{% block title%}Contacto{% endblock%}
{% block background %}{% load static %}{% static 'img/contacto.jpg' %}{% endblock %}


{% block headers%}
<h1>Contacto</h1>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">

    <br>
    <p><b>Teléfono:</b> +54 911 33 580 580</p>
    <a href="mailto:fernandezpablo27@yahoo.com.ar"><b>mail</b>: fernandezpablo27@yahoo.com.ar</a><br />
  </div>
</div>
{% endblock%}
