{% extends 'paginapersonal/base.html' %}

{% block title%}Portada{% endblock%}
{% block background %}{% load static %}{% static 'img/portada.jpg' %}{% endblock %}

{% block headers %}
<h1>Pablo Fernández Guembe</h1>
<span class="subheading">Licencicado en Robótica</span>
<span class="subheading">y programador</span>
{% endblock%}
