{% extends 'paginapersonal/base.html' %}

{% block title%}Portafolio{% endblock%}

{% block background %}{% load static %}{% static 'img/portafolio.jpg' %}{% endblock %}

{% block headers %}
<h1>Portafolio</h1>
<span>Curriculum</span>
{% endblock %}

{% block content%}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{% static 'img/portada.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">Primer proyecto</h2>
    <p>Esta es una página de presentación realizada con django.</p>
    </div>

    <div class="col-lg-3 col-md-4 offset-lg-1">
            <br><br>
        <img class="img-fluid" src="{% static 'img/webempresarial.jpg' %}" alt="">
    </div>

    <div class="col-lg-7 col-md-8">

        <h2 class="section-heading title">Segundo proyecto</h2>
    <p>Es una web empresarial.
    Se trata de la presentación de una empresa donde se muestra información de la misma, los servicios que brinda y un catálogo de productos que ofrece.</p>
    </div>
</div>
{% endblock%}
